body {
    background-color: rgba(08, 50, 12, 1);
}

body::after {

}

.header {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 90%;
    background-color: lightgrey;
    padding: 10px;
    border-radius: 5px;
    
}

.content {
    position: relative;
    margin: 0;
}

.main {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    background-color: lightgrey;
    padding: 10px;
    border-radius: 5px;
}

.footer {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    width: 90%;
    text-align: center;
    
    background-color: lightgrey;
    padding: 10px;
    border-radius: 5px;
}

.center {
    text-align: center;
}